<!--For the best reusability and modularity, I would have create the tables as a separate components with
flags to chose between showing and not showing the view button.-->

<div class="wrap">
    <div class="left">
        <table>
            <tr>
                <th (click)="sortTable()">ToDo ID</th>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let todo of todos">
                <th>{{todo.id}}</th>
                <th>{{todo.title}}</th>
                <th>{{ todo.completed ? 'Complete' : 'Incomplete' }}</th>
                <th>
                    <button (click)="showUser(todo)">View User</button>
                </th>
            </tr>
        </table>
    </div>
    <div class="right">
        <h3>User Detail</h3>
        <div>
            <div>
                <label>ToDo ID</label>
                {{user?.todoId}}
            </div>
            <div>
                <label>ToDo Title</label>
                {{user?.title}}
            </div>
            <div>
                <label>User ID</label>
                {{user?.id}}
            </div>
            <div>
                <label>Name</label>
                {{user?.name}}
            </div>
            <div>
                <label>Email</label>
                {{user?.email}}
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <th>ToDo ID</th>
                    <th>Title</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let todo of user?.todos" (click)="user.todoId = todo.id">
                    <th>{{todo.id}}</th>
                    <th>{{todo.title}}</th>
                    <th>{{ todo.completed ? 'Complete' : 'Incomplete' }}</th>
                </tr>
            </table>
        </div>
    </div>
</div>